<h2>Current Stock</h2>

<li>
  <a href="/stocks/new">ADD NEW STOCK</a>
</li>

<%  @stocks.each do |stock| %>
<ol>
  <p>Album: <%= stock.album.title.capitalize %> </p>
  <p>Artist: <%= stock.album.artist.name %></p>
  <p>Quantity: <%= stock.quantity %></p>
  <a href="/stocks/<%= stock.id %>/edit">UPDATE STOCK</a>
  <form class="" action="/stocks/<%= stock.id %>/destroy" method="post">
    <input type="submit" name="" value="Delete">
  </form>

  <hr/>
</ol>

<% end %>
