<p>Welcome to Keith's Record Store Stock Management System...
or KISS for short.</p>

<h2>Your Inventory</h2>

<table>
  <tr>
    <th>Album</th>
    <th>Artist</th>
    <th>Retail Price</th>
    <th>Wholesale Price</th>
    <th>Stock</th>
    <th>Stock Level</th>
  </tr>
  <% @stocks.each do |stock| %>
  <tr>
    <td><%= stock.album.title %></a></td>
    <td><%= stock.album.artist.name %> </td>
    <td><%= stock.album.retail %></td>
    <td><%= stock.album.wholesale %></td>
    <td><%= stock.quantity%></td>
    <td><%= stock.level %></td>
    <td> <a href="/stocks/<%= stock.id %>/edit">Update</a> </td>
    <td> <a href="#"></a> </td>

  </tr>
  <% end %>
</table>
